@{
    ViewBag.Title = "Stock Management Module";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<body ng-app="ApplicationModule">
    <div>
        <div>
            <div>
                <div ng-view></div>
            </div>
        </div>
    </div>

</body>


@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/Module.js")"></script>
    <script src="~/app/Services.js"></script>
    <script type="text/javascript" src="@Url.Content("~/app/ShowItemsController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/AddItemController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/EditItemController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/DeleteItemController.js")"></script>
}