@{
    ViewBag.Title = "Stock Management Module";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<body ng-app="ApplicationModule">
    <div>
        <div>
            <div>
                <div ng-view></div>
            </div>
        </div>
    </div>

</body>


@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular-route.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/app.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/services/services.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/controllers/showItemsController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/controllers/addItemController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/controllers/editItemController.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/app/controllers/deleteItemController.js")"></script>
}